<?xml version = '1.0' encoding = 'UTF-8' ?>
<widget
    android-versionCode = '1'
    id = 'com.iBuildThings.SKclock'
    version = '1.0.0'
    xmlns = 'https://www.w3.org/ns/widgets'>

    <name>CLOCK</name>
    <description> Brighting Clock</description>
    <author>Shivbhan kushwaha</author>

    <preference name = 'orientation' value = 'portrait'/>

</widget>